.footer {
    position: relative;
    background-color: #000000;
    height: 43px;
}

.footer > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
}

.footer  p {
    text-align: center;
    color: #FFFFFF
}