.featured-news {
    position: relative;
    width: 100%;
    height: auto;
}

.featured-news img {
    width: 100%;
    height: 304px;
    object-fit: cover;
}

.featured-news a {
    text-decoration: none;
}

.featured-news h2 {
    font-size: 24px;
    color: #000000;
    margin-top: 16px;
}

.featured-news h2:hover {
    opacity: .9;
}

.featured-news p {
    font-size: 14px;
    margin-top: 14px;
    color: #000000;
}